@model CodeYad_Blog.CoreLayer.DTOs.Posts.PostFilterDto
@using CodeYad_Blog.CoreLayer.Utilities;
@{
    ViewData["title"] = "مدیریت مقالات";
    ViewData["selected"] = "posts";
    var counter = 1;
}
<section class="content-header">
    <h1>
        @ViewData["title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>
<section class="content">
    <div class="box box-danger">
        <div class="box-body">
            <form>
                <div class="box-header">
                    <button type="submit" class="btn btn-info pull-left">فیلتر </button>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input class="form-control" type="text" value="@Model.FilterParams.Title" placeholder="عنوان" name="title" />
                    </div>
                    <div class="col-md-6 form-group">
                        <input class="form-control" type="text" value="@Model.FilterParams.CategorySlug" placeholder="Slug Category" name="categorySlug" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <a class="btn btn-success" style="margin-bottom: 5px" asp-area="Admin" asp-controller="Post" asp-action="Add">افزودن مقاله</a>
    <div class="box box-primary ">
        <div class="box-body p-0">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>عکس</th>
                        <th>عنوان</th>
                        <th>slug</th>
                        <th>گروه</th>
                        <th>پست ویژه</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Posts)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>
                                <img style="max-width: 150px" src="@Directories.GetPostImage(item.ImageName)" />
                            </td>
                            <td>@item.Title</td>
                            <td>@item.Slug</td>
                            <td>
                                @item.Category.Title
                            </td>
                            <td>
                                @if (item.IsSpecial)
                                {
                                    <i class="fa fa-check text-success"></i>
                                }
                                else
                                {
                                    <i class="fa fa-close text-danger"></i>

                                }
                            </td>
                            <td>
                                <a asp-area="admin" asp-controller="Post" asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-info btn-sm">ویرایش</a>
                            </td>
                        </tr>

                        counter += 1;
                    }
                </tbody>
            </table>
        </div>
        @if (Model.PageCount > 1)
        {
            <div class="box-footer">
                <div style="padding:10px">
                    <ul class="pagination" style="display: inline-block">
                        @if (Model.FilterParams.PageId > 1)
                        {
                            <li class="paginate_button previous">
                                <a onclick="changePage(@(Model.FilterParams.PageId-1))" href="#">قبلی</a>
                            </li>
                        }
                        else
                        {
                        
                            <li class="paginate_button previous disabled">
                                <a href="#">قبلی</a>
                            </li>
                        }

                        @for (var i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="paginate_button @(i == Model.FilterParams.PageId ? "active" : null)">
                                <a  onclick="changePage(@i)"href="javascript:void(0)">@i</a>
                            </li>
                        }
                        @if (Model.PageCount > Model.FilterParams.PageId)
                        {
                            <li class="paginate_button next">
                                <a onclick="changePage(@(Model.FilterParams.PageId+1))" href="#">بعدی</a>
                            </li>
                        }
                        else
                        {
                            <li class="paginate_button next disabled">
                                <a  href="javascript:void(0)">بعدی</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</section>