@model CodeYad_Blog.Web.Areas.Admin.Models.Categories.EditCategoryViewModel

@{
    ViewData["title"] = "ویرایش دسته بندی";
    ViewData["selected"] = "category";

}
<section class="content-header">
    <h1>
        @ViewData["title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">دسته بندی ها</a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>
<section class="content">
    <form class="box box-danger" method="post" asp-area="Admin" asp-controller="Category" asp-action="Edit">
        <div class="box-body row">
            <div class="col-md-6">
                @Html.EditorFor(m => m.Title)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.Slug)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.MetaTag)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.MetaDescription)
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">ثبت اطلاعات</button>
        </div>
    </form>
</section>